@use 'sass:map'
@use 'src/@angular-material' as mat

@mixin color($color-config)
  $primary-palette: map.get($color-config, primary)
  $accent-palette: map.get($color-config, accent)
  $warn-palette: map.get($color-config, warn)
  $background-palette: map.get($color-config, background)
  $foreground-palette: map.get($color-config, foreground)
  $is-dark-theme: map.get($color-config, is-dark)

  // using ::ng-deep to break through the ViewEncapsulation
  // see https://github.com/jfcere/ngx-markdown/issues/56#issuecomment-373722506
  markdown
    // padding the title for correct anchor in a page with a fixed header
    // see https://stackoverflow.com/a/13117744/11192045
    a
      &::before
        color: mat.color($accent-palette, if($is-dark-theme, 200, default))
