@import '../../styles/mat-card-cus'
@import '../../styles/document-cus'


\:host
  display: flex
  flex-direction: row
  margin: auto
  padding: 0 16px

.blog-body
  flex: calc(100% - 18em)
  margin: 24px 0 48px 24px
  padding: 0 24px 0 0

.toc
  flex: 18em
  margin: 32px auto auto 16px
  padding-top: 64px
