<div class="blog">
  <mat-progress-bar mode="indeterminate" *ngIf="loading">
  </mat-progress-bar>

  <div class="content" fxLayout="row">
    <!--  200px for the toc; 48px for the margin of card  -->
    <mat-card @blogTrigger class="card" fxFlex="56em">

      <!--  introduction  -->
      <mat-card-content>
        <markdown #content [data]="blog.mdDocument" katex></markdown>
      </mat-card-content>

      <mat-card-actions>
        <a class="read-more" href="#">Next Blog</a>
      </mat-card-actions>

      <!--  tags  -->
      <mat-chip-list *ngIf="blog.tags.length > 0">
        <app-tag *ngFor="let tag of blog.tags" [tagName]="tag"></app-tag>
      </mat-chip-list>

    </mat-card>

<!--    <div fxFlex="200px" fxFlex.lt-md="0"> &lt;!&ndash; placeholder &ndash;&gt; </div>-->
    <div fxFlex="200px" class="toc-card">
      <app-table-of-content #toc></app-table-of-content>
    </div>
  </div>
</div>
