@import "src/styles/mat-card-cus"


.blog
  background-color: transparent
  margin: auto


mat-card
  margin: 24px 24px 48px 24px
  padding-top: 32px
  padding-right: 24px
  padding-left: 48px


mat-card-title
  text-align: center


mat-card-subtitle
  text-align: center


a.read-more
  font-size: 16px

.toc-card
  position: fixed
  right: 24px
  // topbar + content padding + card margin
  top: 64px + 16px + 24px
  padding: 0
  margin: 0
