<mat-chip-list #chipList aria-label="Tags selection"
               (focusin)="onFocusIn($event)"
               (focusout)="onFocusOut($event)">
  <mat-chip *ngFor="let tag of value" [selectable]="true"
            [removable]="true" (removed)="remove(tag)">
    <mat-icon fontSet="mso" class="icon">local_offer</mat-icon>
    {{ tag }}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
  <!--suppress HtmlFormInputWithoutLabel -->
  <input
    #tagInput
    (blur)="onBlur()"
    [formControl]="inputCtrl"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    [matChipInputAddOnBlur]="false"
    (matChipInputTokenEnd)="add($event)"
    [placeholder]="placeholder">
</mat-chip-list>
<mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="selected($event)">
  <mat-option *ngFor="let tag of filteredTags$ | async"
              [value]="tag" class="tag-option">
    {{ tag }}
  </mat-option>
</mat-autocomplete>
