<nav @navbarInOutTrigger *ngIf="isShown">
  <mat-toolbar fxLayout="row" [class.mat-primary]="!isDarkMode"
               [class.mat-elevation-z8]="true">
    <mat-toolbar-row>
      <!-- The side-drawer is disabled. Enable it once found an use-case -->
      <button
        type="button"
        style="display: none"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onMenuClicked()">
        <!--      *ngIf="isHandset$ | async"-->
        <mat-icon fontSet="mso" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a id="logo" class="navbar-button" routerLink="/" aria-label="Home Page">
        <label>LiMo's Blog</label>
      </a>

      <div fxFlex="grow"></div>

      <button
        mat-icon-button
        [matMenuTriggerFor]="userActionsMenu"
        class="navbar-button"
        type="button"
        matTooltip="User Actions">
        <mat-icon *ngIf="hasLoggedIn" fontSet="mso">face_5</mat-icon>
        <mat-icon *ngIf="!hasLoggedIn" fontSet="mso">no_accounts</mat-icon>
      </button>
      <mat-menu #userActionsMenu ngDefaultControl>
        <button
          mat-menu-item
          *ngIf="hasLoggedIn"
          (click)="logout()"
          aria-label="Logout">
          <mat-icon fontSet="mso">logout</mat-icon>
          <span>Logout</span>
        </button>

        <button
          mat-menu-item
          *ngIf="!hasLoggedIn"
          (click)="login()"
          aria-label="Login">
          <mat-icon fontSet="mso">login</mat-icon>
          <span>Login</span>
        </button>

        <button
          mat-menu-item
          *ngIf="hasLoggedIn"
          aria-label="Upload blog"
          [routerLink]="['/publish']"
          type="button">
          <mat-icon fontSet="mso">cloud_upload</mat-icon>
          <span>Upload blog</span>
        </button>
      </mat-menu>

      <button
        mat-icon-button
        [matMenuTriggerFor]="themesMenu"
        type="button"
        aria-label="Palette"
        class="navbar-button"
        matTooltip="Palette">
        <mat-icon fontSet="mso">palette</mat-icon>
      </button>
      <mat-menu #themesMenu ngDefaultControl>
        <mat-radio-group fxLayout="column" aria-label="Select an option"
                         (change)="onThemeChanged()"
                         [(ngModel)]="activeThemeIdx">
          <div mat-menu-item *ngFor="let theme of themes">
            <mat-radio-button [value]="themes.indexOf(theme)" class="radio-button">
              {{theme}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </mat-menu>

      <button
        mat-icon-button
        type="button"
        (click)="toggleDarkMode()"
        aria-label="Toggle light"
        class="navbar-button"
        matTooltip="Light">
        <mat-icon aria-label="Toggle light">
          <img *ngIf="!isDarkMode" src="../../../assets/img/icon-light-on.svg" alt="Light on">
          <img *ngIf="isDarkMode" src="../../../assets/img/icon-light-off.svg" alt="Light off">
        </mat-icon>
      </button>

      <a
        mat-icon-button
        aria-label="Github"
        class="navbar-button"
        matTooltip="Github"
        href="https://github.com/limoiie/blogs">
        <!--      <mat-icon aria-label="Github">-->
        <img src="../../../assets/img/icon-github.svg" alt="Github">
        <!--      </mat-icon>-->
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar style="position: fixed"
                    [mode]="progressBarService.mode"
                    [value]="progressBarService.value"
                    [bufferValue]="progressBarService.bufferValue"
                    *ngIf="progressBarService.loading">
  </mat-progress-bar>
</nav>
