<nav @navbarInOutTrigger *ngIf="isShown" class="topbar">
  <mat-toolbar fxLayout="row" [class.mat-primary]="!isDarkMode"
               [class.mat-elevation-z8]="true">
    <mat-toolbar-row>
      <!-- The side-drawer is disabled. Enable it once found an use-case -->
      <button
        type="button"
        style="display: none"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onMenuClicked()">
        <!--      *ngIf="isHandset$ | async"-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <h1 id="logo"
          aria-label="Home Page"
          class="navbar-button">
        <a routerLink="/" style="color: unset">LiMo's Blog</a>
      </h1>

      <div fxFlex="grow"></div>

      <button
        mat-icon-button
        type="button"
        aria-label="Upload blog"
        *ngIf="isLogin"
        class="navbar-button"
        matTooltip="upload blog"
        [routerLink]="['/publish']">
        <mat-icon fontSet="mso">cloud_upload</mat-icon>
      </button>

      <button
        (click)="isLogin ? logout() : login()"
        mat-icon-button
        aria-label="Login"
        class="navbar-button"
        [matTooltip]="isLogin ? 'logout' : 'login'"
        type="button">
        <mat-icon *ngIf="!isLogin">login</mat-icon>
        <mat-icon *ngIf="isLogin">logout</mat-icon>
      </button>

      <button
        mat-icon-button
        [matMenuTriggerFor]="themesMenu"
        type="button"
        aria-label="Palette"
        class="navbar-button"
        matTooltip="Palette">
        <mat-icon>palette</mat-icon>
      </button>
      <mat-menu #themesMenu ngDefaultControl>
        <mat-radio-group fxLayout="column" aria-label="Select an option"
                         (change)="onThemeChanged()"
                         [(ngModel)]="activeThemeIdx">
          <mat-radio-button
            *ngFor="let theme of themes" [value]="themes.indexOf(theme)"
            class="radio-button">
            {{theme}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-menu>

      <button
        mat-icon-button
        type="button"
        (click)="toggleDarkMode()"
        aria-label="Toggle light"
        class="navbar-button"
        matTooltip="Light">
        <mat-icon aria-label="Toggle light">
          <img *ngIf="!isDarkMode" src="assets/img/icon-light-on.svg" alt="Light on">
          <img *ngIf="isDarkMode" src="assets/img/icon-light-off.svg" alt="Light off">
        </mat-icon>
      </button>

      <a
        mat-icon-button
        aria-label="Github"
        class="navbar-button"
        matTooltip="Github"
        href="https://github.com/limoiie/blogs">
        <!--      <mat-icon aria-label="Github">-->
        <img src="assets/img/icon-github.svg" alt="Github">
        <!--      </mat-icon>-->
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar style="position: fixed"
                    [mode]="progressBarService.mode"
                    [value]="progressBarService.value"
                    [bufferValue]="progressBarService.bufferValue"
                    *ngIf="progressBarService.loading">
  </mat-progress-bar>
</nav>
