<nav @navbarInOutTrigger *ngIf="isShown" class="topbar">
  <mat-progress-bar style="position: fixed"
    [mode]="progressBarService.mode"
    [value]="progressBarService.value"
    [bufferValue]="progressBarService.bufferValue"
    *ngIf="progressBarService.loading">
  </mat-progress-bar>

  <mat-toolbar fxLayout="row" [class.mat-primary]="!isDarkMode"
               [class.mat-elevation-z8]="true">
    <mat-toolbar-row>
      <!-- The side-drawer is disabled. Enable it once found an use-case -->
      <button
        type="button"
        style="display: none"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="onMenuClicked()">
        <!--      *ngIf="isHandset$ | async"-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <h1 id="logo"
          aria-label="Home Page"
          class="navbar-button">
        <a routerLink="/" style="color: unset">LiMo's Blog</a>
      </h1>

      <div fxFlex="grow"></div>

      <button
        mat-icon-button
        type="button"
        aria-label="Upload blog"
        *ngIf="isLogin"
        class="navbar-button"
        matTooltip="upload blog"
        [routerLink]="['/publish']">
        <mat-icon aria-label="Upload icon">cloud_upload</mat-icon>
      </button>

      <button
        (click)="authService.logout()"
        *ngIf="isLogin"
        aria-label="Logout"
        class="navbar-button"
        mat-icon-button
        matTooltip="logout"
        type="button">
        <mat-icon class="mat-18">exit_to_app</mat-icon>
      </button>

      <!--    <button-->
      <!--      *ngIf="!isLogin"-->
      <!--      [routerLink]="['/login']"-->
      <!--      aria-label="Login"-->
      <!--      class="navbar-button"-->
      <!--      mat-stroked-button-->
      <!--      type="button">-->
      <!--      Sign-->
      <!--    </button>-->

      <button
        mat-icon-button
        [matMenuTriggerFor]="themesMenu"
        type="button"
        aria-label="Palette"
        class="navbar-button"
        matTooltip="Palette">
        <mat-icon aria-label="Palette">
          palette
        </mat-icon>
      </button>
      <mat-menu #themesMenu ngDefaultControl>
        <mat-radio-group fxLayout="column" aria-label="Select an option"
                         (change)="onThemeChanged($event)"
                         [(ngModel)]="activeThemeIdx">
          <mat-radio-button
            *ngFor="let theme of themes" [value]="themes.indexOf(theme)"
            class="radio-button">
            {{theme}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-menu>

      <button
        mat-icon-button
        type="button"
        (click)="toggleDarkMode()"
        aria-label="Toggle light"
        class="navbar-button"
        matTooltip="Light">
        <mat-icon aria-label="Toggle light">
          <img *ngIf="!isDarkMode" src="assets/img/icon-light-on.svg" alt="Light on">
          <img *ngIf="isDarkMode" src="assets/img/icon-light-off.svg" alt="Light off">
        </mat-icon>
      </button>

      <a
        mat-icon-button
        aria-label="Github"
        class="navbar-button"
        matTooltip="Github"
        href="https://github.com/limoiie/blogs">
        <!--      <mat-icon aria-label="Github">-->
        <img src="assets/img/icon-github.svg" alt="Github">
        <!--      </mat-icon>-->
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
