<div fxLayout="row" fxLayoutAlign="center">
  <form (ngSubmit)="onSubmit()" [formGroup]="form"
        class="container" fxLayout="column" fxLayoutGap="12px">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input formControlName="username" matInput required>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Only number and characters allowed</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input [type]="isPasswordHidden ? 'password' : 'text'" formControlName="password"
             matInput required>
      <button (click)="isPasswordHidden = !isPasswordHidden" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="isPasswordHidden"
              mat-icon-button
              matSuffix>
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button [disabled]="!form.valid" color="accent" mat-raised-button
            type="submit">
      Submit
    </button>
  </form>
</div>
