// using ::ng-deep to break through the ViewEncapsulation
// see https://github.com/jfcere/ngx-markdown/issues/56#issuecomment-373722506
markdown ::ng-deep
  // padding the title for correct anchor in a page with a fixed header
  // see https://stackoverflow.com/a/13117744/11192045
  a
    &:hover::before
      content: "#"
      font-weight: 400
      margin-left: -25px
      position: absolute
      font-size: 28px

  h2, h3
    padding-top: 72px
    margin-top: -72px

  h1
    font-weight: 1000
