<div @blogTrigger *ngIf="blog" class="blog-body">
  <!-- abbrev info -->
  <div class="blog-info-bar">
    <label>
      <mat-icon fontSet="mso">edit</mat-icon>
      {{blog.createTime | date: 'fullDate' }}</label>
    <a href="#"><label>
      <mat-icon fontSet="mso">folder</mat-icon>
      {{ blog.folder }}</label></a>
  </div>

  <!--  tags  -->
  <mat-chip-list *ngIf="blog.tags.length > 0">
    <app-tag *ngFor="let tag of blog.tags" [tagName]="tag" [routerLink]="['/blogs', 'tags', tag]"></app-tag>
  </mat-chip-list>

  <!-- main document -->
  <div #content class="document" [innerHTML]="blog.htmlDocument | safeHtml"></div>

  <mat-chip-list *ngIf="blog.tags.length > 0">
    <app-tag *ngFor="let tag of blog.tags" [tagName]="tag" [routerLink]="['/blogs', 'tags', tag]"></app-tag>
  </mat-chip-list>
</div>

<app-table-of-content @blogTrigger *ngIf="blog" #toc class="toc"></app-table-of-content>
