<!--suppress HtmlFormInputWithoutLabel -->
<ng-scrollbar>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"
        fxLayout="column" fxLayoutGap="12px" class="container">
    <mat-form-field hintLabel="Max 200 characters" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput maxlength="200" formControlName="title" required>
      <mat-hint align="end">{{title?.length || 0}}/200</mat-hint>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="12px">
      <mat-form-field fxFlex="192px" appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" required>
        <mat-hint align="end">Legal account</mat-hint>
      </mat-form-field>
      <mat-form-field fxFlex="128px" appearance="fill">
        <mat-label>Create Time</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="createTime" required>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="128px" appearance="fill">
        <mat-label>Edit Time</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="editTime" required>
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="12px">
      <mat-form-field appearance="fill">
        <mat-label>Folder</mat-label>
        <input matInput placeholder="WorkStuff"
               formControlName="folder"
               [matAutocomplete]="autoFolder" required>
        <mat-autocomplete #autoFolder>
          <mat-option *ngFor="let folder of folders$ | async"
                      [value]="folder" class="tag-option">
            {{ folder }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="grow" appearance="fill">
        <mat-label>Tags</mat-label>
        <app-form-field-tags formControlName="tags" required></app-form-field-tags>
        <mat-hint align="end">Shorter term is preferable ^</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Abstract</mat-label>
      <textarea fxFlex="grow" matInput
                formControlName="abstract"
                minlength="80" maxlength="200"
                placeholder="Text Here~"
                autosize minRows="8" required></textarea>
      <!--    <textarea matInput></textarea>-->
      <mat-error *ngIf="profileForm.controls['abstract'].invalid">
        You should input at less 80 characters in this field!
      </mat-error>
      <mat-hint align="end">{{abstract?.length || 0}}/[80, 200]</mat-hint>
    </mat-form-field>

    <button type="submit" color="accent" mat-raised-button
            [disabled]="!profileForm.valid" >
      Submit
    </button>
  </form>
</ng-scrollbar>
