<div #body class="mat-body">
  <app-navbar #navbar [isHandset$]="isHandset$"
              (menuClicked)="drawer.toggle()">
  </app-navbar>

  <!-- unset overflow so that the its child can be sticky -->
  <!-- see also: https://university.webflow.com/lesson/create-a-sticky-sidebar -->
  <!--suppress HtmlUnknownAttribute -->
  <mat-sidenav-container>
    <mat-sidenav #drawer fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="false">
      <div class="content">
        <mat-nav-list>
          <a mat-list-item href="#">TODO</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <!-- unset overflow so that the its child can be sticky -->
    <!-- see also: https://university.webflow.com/lesson/create-a-sticky-sidebar -->
    <mat-sidenav-content>
      <!-- Parallax background -->
<!--      <div [class.dark-theme]="navbar.isDarkMode"-->
<!--           class="mat-drawer-container"-->
<!--                id="parallax-background"></div>-->
<!--      <mat-card appParallax [ratio]="0.04" [scrollbar]="scrollContent"-->
<!--                [class.dark-theme]="navbar.isDarkMode"-->
<!--                id="parallax-background"></mat-card>-->

      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <app-goto-top-btn #fab appScrollOut [host]="fab" [topShow]="false">
      </app-goto-top-btn>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
