<div [class.dark-theme]="navbar.isDarkMode">
  <app-navbar #navbar [isHandset$]="isHandset$"
              appScrollOut [host]="navbar"
              (menuClicked)="drawer.toggle()">
  </app-navbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <div class="content">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item href="#">TODO</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Parallax background -->
      <mat-card [class.dark-theme]="navbar.isDarkMode"
                id="parallax-background"></mat-card>
<!--      <mat-card appParallax [ratio]="0.04" [scrollbar]="scrollContent"-->
<!--                [class.dark-theme]="navbar.isDarkMode"-->
<!--                id="parallax-background"></mat-card>-->

      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <app-goto-top-btn #fab appScrollOut [host]="fab" [topShow]="false">
      </app-goto-top-btn>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
