<div class="blog-list">
  <mat-progress-bar mode="indeterminate" *ngIf="loading">
  </mat-progress-bar>
  <div fxLayout="column">
    <app-blog-card [blog]="blog" *ngFor="let blog of blogsInPage; let blogIndex = index"
                   [@blogListTrigger]="{value: true, params: {myTime: 400 + 50 * blogIndex + 'ms'}}">
    </app-blog-card>

    <mat-paginator
      [@blogListTrigger]="{value: true, params: {myTime: '400ms'}}"
      [showFirstLastButtons]="true"
      [length]="nTotalBlogs"
      [pageSize]="15"
      [pageSizeOptions]="[10, 15, 20, 25, 50]"
      (page)="onPageOptionChanged($event)"
      aria-label="Select Page">
    </mat-paginator>
  </div>
</div>
