<mat-card
  appMaterialElevation defaultElevation="2" raisedElevation="16"
  *ngIf="blog"
  @myInsertRemoveTrigger class="card">

  <mat-card-title>
    <a [routerLink]="['/blog', blog.id]">
      {{ blog.title }}
    </a>
    <button *ngIf="authService.currentUser | async" class="title-btn"
            color="accent" mat-mini-fab>
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    <!--  create datetime  -->
    <mat-icon class="icon">event_note</mat-icon>
    <label>
      Posted on
      <time [matTooltip]="'Created on ' + blog.createTime"
            datetime="2020-02-10T15:32:20+11:00">
        {{ blog.createTime }}
      </time>
    </label>

    <!--  edit datetime  -->
    <mat-icon class="icon">event_available</mat-icon>
    <label>
      Edited on
      <time [matTooltip]="'Created on ' + blog.editTime"
            datetime="2020-02-10T15:32:20+11:00">
        {{ blog.editTime }}
      </time>
    </label>

    <!--  folder  -->
    <mat-icon class="icon">folder_open</mat-icon>
    <label><a href="#">{{ blog.folder }}</a></label>

    <!--  author  -->
    <mat-icon class="icon">account_circle</mat-icon>
    <label>{{ blog.author }}</label>
  </mat-card-subtitle>

  <!--  introduction  -->
  <mat-card-content>
    <p>{{ blog.abstract }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a class="read-more" href="#">Read More</a>
  </mat-card-actions>

  <!--  tags  -->
  <mat-chip-list *ngIf="blog.tags.length > 0">
    <app-tag *ngFor="let tag of blog.tags" [tagName]="tag"></app-tag>
  </mat-chip-list>

</mat-card>
