@import "src/styles/mat-card-cus"


.title-btn
  width: 18px
  height: 18px

  .icon
    width: 18px
    height: 18px
    font-size: 18px
    margin-bottom: 48px


mat-card
  min-width: 720px
  margin: 24px 24px auto 24px
  padding-top: 24px
  padding-right: 24px
  padding-left: 24px

  mat-card-title
    height: 32px
    display: flex
    justify-content: space-between

    a
      font-weight: bolder!important

    .blog-action-bar
      opacity: 0
      transform: translateY(-8px)
      transition: opacity 400ms ease-in-out, transform 200ms ease-in-out

  mat-card-subtitle
    label
      font-style: italic

mat-card:hover
  mat-card-title
    .blog-action-bar
      opacity: 1
      transform: translateY(0)


a.read-more
  font-size: 16px


.example-header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover
