<mat-card
  appMaterialElevation defaultElevation="2" raisedElevation="16"
  *ngIf="blog"
  @myInsertRemoveTrigger class="card">

  <!-- title -->
  <mat-card-title>
    <a [routerLink]="['/blog', blog.id]">
      {{ blog.title }}
    </a>
    <button *ngIf="authService.currentUser | async" class="title-btn"
            color="accent" mat-icon-button>
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </mat-card-title>

  <!-- labels -->
  <mat-card-subtitle>
    <mat-icon fontSet="mso">edit</mat-icon><label>{{blog.createTime * 1000 | date: 'fullDate' }}</label>
    <mat-icon fontSet="mso">folder</mat-icon>
    <label><a href="#">{{ blog.folder }}</a></label>
  </mat-card-subtitle>

  <!-- tags -->
  <mat-chip-list *ngIf="blog.tags.length > 0">
    <app-tag *ngFor="let tag of blog.tags" [tagName]="tag"></app-tag>
  </mat-chip-list>

</mat-card>
