<mat-card *ngIf="blog" class="card" @myInsertRemoveTrigger
          appMaterialElevation [defaultElevation]="1" [raisedElevation]="8">

  <!-- title -->
  <mat-card-title>
    <div class="title">
      <a [routerLink]="['/blogs', blog.id]">{{ blog.title }}</a>
      <div *ngIf="(authService.currentUser | async)">
        <mat-icon *ngIf="blog.visibility" class="icon" fontSet="mso">visibility</mat-icon>
        <mat-icon *ngIf="!blog.visibility" class="icon" fontSet="mso">visibility_off</mat-icon>
      </div>
    </div>

    <!--  author's action bar  -->
    <div *ngIf="authService.currentUser | async" class="blog-action-bar">
      <button mat-icon-button class="title-btn" color="accent" (click)="onEdit()">
        <mat-icon class="icon" fontSet="mso">edit</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <!-- labels -->
  <mat-card-subtitle>
    <mat-icon fontSet="mso">edit</mat-icon>
    <label>{{blog.createTime | date: 'fullDate' }}</label>
    <mat-icon fontSet="mso">folder</mat-icon>
    <label><a href="#">{{ blog.folder }}</a></label>
  </mat-card-subtitle>

  <!-- tags -->
  <mat-chip-list *ngIf="blog.tags.length > 0">
    <app-tag *ngFor="let tag of blog.tags" [tagName]="tag"></app-tag>
  </mat-chip-list>

</mat-card>
