<!--suppress HtmlFormInputWithoutLabel -->
<ng-scrollbar>
  <form [formGroup]="form" (ngSubmit)="onSubmit()"
        fxLayout="column" fxLayoutGap="12px" class="container">
    <mat-form-field *ngIf="form.controls['title'] as control" hintLabel="Max 200 characters" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [maxlength]="this.maxTitleLen" formControlName="title" required>
      <mat-hint align="end">
        {{control.value?.length || 0}}/200
      </mat-hint>
      <mat-error *ngIf="control.errors">{{control.errors | json}}</mat-error>
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="12px">
      <!--   Author   -->
      <mat-form-field *ngIf="form.controls['author'] as control" fxFlex="42%" appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput [value]="data.author!.username" [disabled]="true">
        <mat-hint align="end">Legal account</mat-hint>
        <mat-error *ngIf="control.errors">{{control.errors | json}}</mat-error>
      </mat-form-field>
      <!--   Create Time   -->
      <mat-form-field fxFlex="24%" appearance="fill">
        <mat-label>Create Time</mat-label>
        <input matInput [matDatepicker]="dp1" formControlName="createTime" required>
        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        <mat-datepicker #dp1></mat-datepicker>
      </mat-form-field>
      <!--   Edit Time   -->
      <mat-form-field fxFlex="24%" appearance="fill">
        <mat-label>Edit Time</mat-label>
        <input matInput [matDatepicker]="dp2" formControlName="editTime" required>
        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="12px">
      <!--   Folder   -->
      <mat-form-field *ngIf="form.controls['folder'] as control" fxFlex="320px" appearance="fill">
        <mat-label>Folder</mat-label>
        <input matInput placeholder="WorkStuff"
               formControlName="folder"
               [matAutocomplete]="autoFolder" required>
        <mat-autocomplete #autoFolder>
          <mat-option *ngFor="let folder of []" [value]="folder" class="tag-option">
            {{ folder }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint align="end">Folder path ^</mat-hint>
        <mat-error *ngIf="control.errors">{{control.errors | json}}</mat-error>
      </mat-form-field>
      <!--   Visibility   -->
      <mat-form-field *ngIf="form.controls['visibility'] as control" fxFlex="180px" floatLabel="always">
        <mat-label>Visibility</mat-label>
        <mat-slide-toggle #toggleVisibility formControlName="visibility">
          Being {{toggleVisibility.checked ? "visible" : "invisible"}}
        </mat-slide-toggle>
        <textarea matInput hidden></textarea>
        <mat-hint align="start">Whether visible to visitors</mat-hint>
        <mat-icon *ngIf="toggleVisibility.checked" matSuffix fontSet="mso">visibility</mat-icon>
        <mat-icon *ngIf="!toggleVisibility.checked" matSuffix fontSet="mso">visibility_off</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="12px">
      <!--   Tags   -->
      <mat-form-field *ngIf="form.controls['tags'] as control" fxFlex="grow" appearance="fill">
        <mat-label>Tags</mat-label>
        <app-form-field-tags formControlName="tags"></app-form-field-tags>
        <mat-hint align="end">Shorter term is preferable ^</mat-hint>
        <mat-error *ngIf="control.errors">{{control.errors | json}}</mat-error>
      </mat-form-field>
    </div>

    <!--   Abstract   -->
    <mat-form-field *ngIf="form.controls['abstract'] as control" appearance="fill">
      <mat-label>Abstract</mat-label>
      <textarea fxFlex="grow" matInput formControlName="abstract"
                [minlength]="minAbstractLen" [maxlength]="maxAbstractLen"
                placeholder="Text Here~"
                autosize [minRows]="8" required></textarea>
      <!--    <textarea matInput></textarea>-->
      <mat-hint align="end">
        {{control.value?.length || 0}} /
        [{{minAbstractLen}}, {{maxAbstractLen}}]
      </mat-hint>
      <mat-error *ngIf="control.errors">{{control.errors | json}}</mat-error>
    </mat-form-field>

    <button type="submit" color="accent" mat-raised-button
            [disabled]="!form.valid">
      Submit
    </button>
  </form>
</ng-scrollbar>
