\:host
  //background-color: transparent
  display: block
  margin: auto

  #filter-board
    display: flex
    flex-direction: column
    gap: 12px

    #doneList
      padding-top: 24px
      display: flex
      flex-direction: row
      flex-wrap: wrap

      app-tag
        margin: 4px

    #search
      align-self: stretch

    #apply
      align-self: flex-end
      transition: scale ease-out 320ms

      &:hover
        scale: 1.2

  mat-paginator
    //background-color: transparent
    margin: 24px 0 24px
    transition: opacity 400ms
    border-radius: 0 0 4px 4px
