@import '../../../styles/mat-card-cus'

\:host
  //background-color: transparent
  display: block
  margin: auto

  mat-paginator
    //background-color: transparent
    margin: 12px 24px 24px 24px
    transition: opacity 400ms
    border-radius: 0 0 4px 4px
