\:host
  //background-color: transparent
  display: block
  margin: auto

  #filter-board
    display: flex
    flex-direction: column
    margin-top: 24px

    div
      display: flex
      flex-direction: row
      flex-wrap: wrap

    app-tag
      margin: 4px

    #apply
      align-self: flex-end

  mat-paginator
    //background-color: transparent
    margin: 24px 0 24px
    transition: opacity 400ms
    border-radius: 0 0 4px 4px
