@use 'sass:map'
@use '@angular-material' as mat
@use 'src/styles/conf'

@mixin color($color-config)
  code
    font-family: conf.$code-font-family

  p
    code
      background: mat.color(map.get($color-config, primary), default, 0.5)
      padding: 3px
      border-radius: 5px
